<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lib.Web.Mvc.JqGridFork" version="7.3.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20505.0" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" developmentDependency="true" />
  <package id="SharpRepository.Repository" version="1.5.0.2" targetFramework="net471" />
</packages>